# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
myenv/
venv/
.venv/

# Python build files
build/
dist/
*.egg-info/

# Testing
.coverage
.pytest_cache/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Frontend (Node.js)
# =========================
node_modules/

# Vite
.vite/

# Build Output
frontend/dist/
dist/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Database
# =========================
*.sqlite
*.db

# =========================
# Uploads (if generated at runtime)
# =========================
uploads/
media/